.line-graph {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.recharts-responsive-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.line-graph-title {
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  width: 147px;
  height: 48px;
}

.custom-tooltip-box {
  background-color: #fff;
  padding: 7px;
  border-radius: 4px;
  font-size: 8px;
}

.custom-tooltip.custom-tooltip-left {
  transform: translate(-150%, 0%);
}
