.title404 {
  margin-top: 6rem;
  font-size: 12rem;
  color: var(--main-color);
  letter-spacing: 0.8rem;
}

.p404 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--main-color);
  margin: 1rem 0 3rem;

}

.a404 {
  color: var(--main-color);
  text-decoration: underline;
  font-size: 1.1rem;
}
